:host {
  box-sizing: border-box;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 72px;
  margin: 0 8px 16px;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fafafa;
  line-height: 24px;
  user-select: none;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-tiny {
  width: 180px;
  height: 30px;
  padding: 7px 16px;
  border-radius: 0;

  & + .card.card-tiny {
    border-top: none;
  }
}

.card.card-small {
  width: 200px;
  height: 48px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

/* App-Glass */
.glass-container {
  padding: 14px;
}

.glass-container,
.glass-container ul {
  list-style: none;
}

.glass-container .group {
  padding: 2px 0;
}

.glass-container .group + .group {
  border-top: solid 1px white;
}

.glass-container .group .glass {
  width: 72px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  line-height: 20px;
  text-align: right;
  cursor: pointer;
}

.glass-container .group .glass:hover {
  background-color: #b1ecee;
}

.glass-container .group .glass:active {
  background-color: #5debf0;
}

/* 焱升桌面设计 */
.desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #739899;
  background-image: url("~src/assets/desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  user-select: none;
  -webkit-user-drag: none;

  .topbar {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
    height: 28px;
    background-color: azure;
    background-image: url("~src/assets/underglass.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 28px;

    button {
      background-color: transparent;
    }

    button:hover {
      background-color: #b1ecee;
    }

    button:active {
      background-color: #5debf0;
    }

    .apps {
      width: 9em;
      padding-left: 2.5em;
      background-image: url("~src/assets/logo.png");
      background-repeat: no-repeat;
      background-position: 1em;
      background-size: contain;
    }

    .glass {
      width: 3em;
      background-image: url("~src/assets/glass.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
