/* base_stylesheet */

/* 以下：统一风格 */
/* common/normalize.css */

/* common/figure.css */

/* common/table.css */

/* common/date-tag.css */

/* common/comments.css */
/* 以上：统一风格 */

/* 以下：正规化文章主体块 */
body {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;
  height: 100vh;
}

body.snapshot {
  margin: 0;
}

body:not(.snapshot) {
  background-image: url(/* reources_dir */images/bg.jpg);
  background-position: top center;
  background-size: 100vw 100vh;
  background-repeat: repeat-y;
}

#main {
  overflow: auto;
  height: 100%;
}

.markdown-body {
  box-sizing: border-box;
  font-weight: normal;
  max-width: 1000px;
  min-width: 200px;
  /* body_padding_pc */
}

body.snapshot .markdown-body {
  margin: 0;
  width: 100%;
}

body:not(.snapshot) .markdown-body {
  margin: 1rem auto;
  width: calc(100% - 2rem);
  background: white;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  border: solid 1px gray;
  box-shadow: 0 0 5px 0 gray;
}

.markdown-body.hidden {
  display: none;
}

@media screen and (max-width: 750px) {
  .markdown-body {
    box-sizing: border-box;
    /* body_padding_mobile */
  }

  body:not(.snapshot) > .markdown-body {
    margin: 5px auto;
    width: calc(100% - 10px);
  }
}
/* 以上：正规化文章主体块 */

/*Scroll bar nav*/
::-webkit-scrollbar {
  width: 3pt;
  height: 3pt;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 9pt;
}
/* Corner */
::-webkit-scrollbar-corner {
  background: #ddd;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 9pt;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #aaa;
}
