/* 以下：统一风格 */

/* common/normalize.css */

/* base_stylesheet */

/* common/blockquote.css */

/* common/code.css */

/* common/figure.css */

/* common/table.css */

/* common/date-tag.css */

/* common/comments.css */

/* 以上：统一风格 */

/* 以下：正规化文章主体块 */
body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  background-color: white;
}

body.snapshot {
  margin: 0;
}

body:not(.snapshot) {
  background-image: url({{resource_dir}}images/bg.jpg);
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 100vw 100vh;
}

#main {
  height: 100%;
  overflow: auto;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 1100px;
  font-weight: normal;

  /* body_padding_pc */
}

body.snapshot .markdown-body {
  width: 100%;
  margin: 0;
}

body:not(.snapshot) .markdown-body {
  width: calc(100% - 2rem);
  margin: 1rem auto;
  border: solid 1px gray;
  border-radius: 6px;
  background: white;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px 0 gray;
}

.markdown-body.hidden {
  display: none;
}

@media screen and (max-width: 750px) {
  .markdown-body {
    box-sizing: border-box;

    /* body_padding_mobile */
  }

  body:not(.snapshot) > .markdown-body {
    width: calc(100% - 10px);
    margin: 5px auto;
  }
}

/* 以上：正规化文章主体块 */

/* Scroll bar nav */
::-webkit-scrollbar {
  width: 3pt;
  height: 3pt;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 9pt;
  background: #ddd;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 9pt;
  background: #999;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #aaa;
}
