@font-face {
  font-family: "Cascadia Code PL";
  src: url({{resource_dir}}fonts/CascadiaCodePL.woff2) format("woff2");
}

@font-face {
  font-family: "等距更纱黑体";
  src: url({{resource_dir}}fonts/sarasa-mono-sc-regular.ttf) format("truetype");
}

.markdown-body kbd,
.markdown-body pre,
.markdown-body code {
  font-family: "Cascadia Code PL", "等距更纱黑体", monospace;
}

.markdown-body pre.prettyprinted > code {
  background: none;
  border: none;
  display: inline-block;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  min-width: 100%;
  overflow: visible;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.markdown-body pre.prettyprinted > code[class^="language-"] {
  font-family: "Cascadia Code PL", "等距更纱黑体", monospace !important;
}

.markdown-body pre.prettyprinted > code.language-markdown {
  font-family: "等距更纱黑体", "Cascadia Code PL", monospace !important;
}
