@font-face {
  font-family: 'Cascadia Code PL';
  src: url(/* reources_dir */fonts/CascadiaCodePL.woff2) format('woff2');
}

.markdown-body code,
.markdown-body kbd {
  font-family: 'Cascadia Code PL', '等距更纱黑体', monospace;
}

@font-face {
  font-family: '等距更纱黑体';
  src: url(/* reources_dir */fonts/sarasa-mono-sc-regular.ttf)
    format('truetype');
}

.markdown-body pre code.language-markdown {
  font-family: '等距更纱黑体', 'Cascadia Code PL', monospace;
}
