.markdown-body h6.date-tag {
  text-align: right;
}

.markdown-body h6.date-tag code {
  position: relative;
  cursor: default;
  font-size: 13px;
}

.markdown-body h6.date-tag code::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0.3em;
  opacity: 1;
  pointer-events: none;
  background-color: blueviolet;
  transition: height 100ms ease-in-out;
}

.markdown-body h6.date-tag code:hover::after {
  height: 100%;
  opacity: 0.6;
}

@media print {
  .markdown-body h6.date-tag code::after {
    height: 0;
  }
}
