.markdown-body *,
.markdown-body *::after,
.markdown-body *::before {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

.markdown-body dl dl,
.markdown-body dl ol,
.markdown-body dl ul,
.markdown-body ol dl,
.markdown-body ul dl,
.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-left: 2em;
}

.markdown-body a[download] {
  text-decoration: underline;
}
