.markdown-body table code {
  display: block;
  float: left;
  white-space: nowrap;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 1080px) {
  .markdown-body .table {
    max-width: 100%;
    overflow: auto;
  }

  .markdown-body table {
    min-width: 100%;
  }

  .markdown-body thead th:not(.main) {
    display: none;
  }

  .markdown-body td,
  .markdown-body th {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: left !important;
    padding: 10px calc(5em + 8px) 8px !important;
  }

  .markdown-body td:not([data-th]) {
    padding-left: 8px !important;
  }

  .markdown-body td[data-th]:before {
    content: attr(data-th);
    text-align: left;
    height: 100%;
    width: 5em;
    display: block;
    position: absolute;
    left: 8px;
  }

  .markdown-body td:first-child {
    border-bottom: solid 1px #999;
  }

  .markdown-body tr {
    border-top: solid 1px #999;
  }
}
