/* 以下：全局预设 */
.markdown-body figure {
  margin: unset;
}

.markdown-body pre {
  overflow: auto;
}

.markdown-body pre code {
  padding: 0;
  border: none;
  background: transparent;
}

.markdown-body a[download] {
  text-decoration: underline;
}

.markdown-body div.comments {
  position: relative;
}

.markdown-body div.comments h6.tip {
  opacity: 0;
  cursor: default;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.markdown-body div.comments:hover h6.tip {
  opacity: 0.5;
}

.markdown-body div.comments a[href^='mailto:'] {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  font-weight: bolder;
  background-color: green;
  color: azure;
  transition: background-color 300ms, color 1s;
}

.markdown-body div.comments a[href^='mailto:']:hover {
  background-color: whitesmoke;
  color: teal;
}

@media only screen and (max-width: 750px) {
  .markdown-body div.comments {
    margin-bottom: 5em;
  }

  .markdown-body div.comments h6.tip {
    opacity: 0.5;
  }
}
/* 以上：全局预设 */

/* base_stylesheet */

/* 以下：全局正规化 */
@font-face {
  font-family: 'FiraCode';
  src: url('fonts/FiraCode-Light.woff2') format('woff2'),
    url('fonts/FiraCode-Light.woff') format('woff');
}

@font-face {
  font-family: 'CascadiaCodePL';
  src: url('fonts/CascadiaCodePL.woff2') format('woff2');
}

.markdown-body code {
  font-family: CascadiaCodePL, FiraCode, Courier, -apple-system-font,
    'Hiragino Sans GB', 'Microsoft YaHei', monospace;
}

.markdown-body h6.date-tag {
  text-align: right;
}

.markdown-body figure {
  width: 100%;
}

.markdown-body figure > figcaption {
  position: static;
  background: transparent;
}

@media only screen and (max-width: 750px) {
  .markdown-body thead th:not(.main) {
    display: none;
  }

  .markdown-body td,
  .markdown-body th {
    text-align: left !important;
    display: flex;
    flex-direction: row;
    padding: 10px 8px 8px !important;
  }

  .markdown-body td[data-th]:before {
    content: attr(data-th);
    text-align: left;
    flex-basis: 5em;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .markdown-body td:first-child {
    border-bottom: solid 1px #ddd;
  }
}
/* 以上：全局正规化 */

/* 以下：正规化文章主体块 */
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  border: none;
  background-color: white;
}

body:not(.snapshot) {
  background-image: url(images/bg.jpg);
  background-position: top center;
  background-size: 100vw 100vh;
  background-repeat: repeat-y;
}

.markdown-body {
  box-sizing: border-box;
  margin: 1rem auto;
  max-width: 1000px;
  min-width: 200px;
  width: calc(100% - 2rem);
  /* body_padding_pc */
}

body:not(.snapshot) > .markdown-body {
  background: white;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  border: solid 1px gray;
  box-shadow: 0 0 5px 0 gray;
}

.markdown-body.hidden {
  display: none;
}

@media screen and (max-width: 750px) {
  .markdown-body {
    margin: 5px auto;
    width: calc(100% - 10px);
    /* body_padding_mobile */
  }
}
/* 以上：正规化文章主体块 */

/*Scroll bar nav*/
::-webkit-scrollbar {
  width: 3pt;
  height: 3pt;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 9pt;
}
/* Corner */
::-webkit-scrollbar-corner {
  background: #ddd;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 9pt;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #aaa;
}
