/* 以下：全局预设 */
.markdown-body figure {
  margin: unset;
}

.markdown-body pre {
  overflow: auto;
}

.markdown-body pre code {
  padding: 0;
  border: none;
  background: transparent;
}

.markdown-body a[download] {
  text-decoration: underline;
}
/* 以上：全局预设 */

/* base_stylesheet */

/* 以下：全局正规化 */
.markdown-body ul,
.markdown-body ol,
.markdown-body dl {
  list-style-position: inside;
}

.markdown-body figure {
  width: 100%;
  text-align: center;
}

.markdown-body figure > figcaption {
  position: static;
  background: transparent;
}
/* 以上：全局正规化 */

/* 以下：正规化文章主体块 */
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  border: none;
  background-color: white;
}

body:not(.snapshot) {
  background-image: url(images/bg.jpg);
  background-position: top center;
  background-size: 100vw 100vh;
  background-repeat: repeat-y;
}

.markdown-body {
  box-sizing: border-box;
  margin: 1rem auto;
  min-width: 200px;
  max-width: 980px;
  width: 100%;
  /* body_padding_pc */
}

body:not(.snapshot) > .markdown-body {
  background: #ffffffbb;
  border-radius: 6px;
  border: solid 1px gray;
  box-shadow: 0 0 5px 0 gray;
}

.markdown-body.hidden {
  display: none;
}

@media (max-width: 750px) {
  .markdown-body {
    margin: 1rem;
    /* body_padding_mobile */
  }
}
/* 以上：正规化文章主体块 */

/*Scroll bar nav*/
::-webkit-scrollbar {
  width: 3pt;
  height: 3pt;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 9pt;
}
/* Corner */
::-webkit-scrollbar-corner {
  background: #ddd;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 9pt;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #aaa;
}
