.window[role="window"] {
  position: fixed;
  z-index: 999999;
  border: solid 1px black;
  background-color: white;
  font-size: 0;

  &.hidden {
    display: none;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 32px;
    border-bottom: solid 1px black;
    background-color: white;
    font-size: 16px;
    user-select: none;

    &:hover {
      background-color: #71e4e2;
    }

    span {
      flex: 1;
      margin-left: 16px;
    }

    button {
      flex-grow: 0;
      flex-shrink: 0;
      background-color: transparent;
      cursor: pointer;
    }

    button:hover {
      background-color: #b1ecee;
    }

    button:active {
      background-color: #5debf0;
    }

    .close-handler {
      margin-right: 16px;
      background-image: url("~src/assets/close.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .max-handler {
      background-image: url("~src/assets/max.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .min-handler {
      background-image: url("~src/assets/min.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .sep {
      background-image: url("~src/assets/sep.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  iframe {
    width: 100%;
    border: none;
  }

  .mask {
    position: absolute;
    top: 32px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.01;
    background-color: black;

    &.force {
      display: block !important;
    }
  }

  .resize-handlers {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

    * {
      position: absolute;
      opacity: 0.01;
      background-color: blue;
      pointer-events: all;
    }

    .top,
    .bottom {
      right: 0;
      left: 0;
      height: 5px;
      cursor: ns-resize;
    }

    .left,
    .right {
      top: 0;
      bottom: 0;
      width: 5px;
      cursor: ew-resize;
    }

    .top-left,
    .bottom-right {
      cursor: nwse-resize;
    }

    .top-right,
    .bottom-left {
      cursor: nesw-resize;
    }

    .top-left,
    .bottom-right,
    .top-right,
    .bottom-left {
      width: 5px;
      height: 5px;
    }

    .top {
      top: -3px;
    }

    .right {
      right: -3px;
    }

    .bottom {
      bottom: -3px;
    }

    .left {
      left: -3px;
    }

    .top-left {
      top: -3px;
      left: -3px;
    }

    .top-right {
      top: -3px;
      right: -3px;
    }

    .bottom-left {
      bottom: -3px;
      left: -3px;
    }

    .bottom-right {
      right: -3px;
      bottom: -3px;
    }
  }
}
