ul.snap-list {
  list-style: none;
  margin: 0.2rem auto;
  max-width: 10rem;
  min-width: 7rem;
  width: calc(100% - 0.2rem);

  a {
    display: block;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px 0 gray;
    border: dashed 0.01rem #888888;
    overflow: hidden;

    &:first-child {
      border-top-left-radius: 0.1rem;
      border-top-right-radius: 0.1rem;
    }

    &:last-child {
      border-bottom-left-radius: 0.1rem;
      border-bottom-right-radius: 0.1rem;
    }

    & + a {
      border-top: none;
    }

    li {
      width: 100%;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        animation: none;
        background-image: linear-gradient(
          transparent,
          transparent 68%,
          rgba(#ffffff, 0) 68%,
          #efefef 100%
        );
      }

      @keyframes tweaking {
        0% {
          background-color: rgba(#89aeff, 0.4);
        }

        100% {
          background-color: rgba(#2b7bf1, 0.4);
        }
      }

      &:hover::after {
        background-image: none;
        animation: tweaking 300ms ease-in-out 0s infinite alternate both;
      }

      iframe {
        width: 100%;
        height: 6rem;
        display: block;
        pointer-events: none;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  ul.snap-list > a > li > iframe {
    height: 9rem;
  }
}
