.markdown-body {
  --odd-tr-background-article-color: transparent;
  --kbd-foreground-article-color: #444d56;
  --kbd-background-article-color: #fafbfc;
  --kbd-border-article-color: #d1d5da;
  --kbd-box-shadow-article-color: #d1d5da;
  --a-hover-foregrounnd-article-color: #92afff;
  --table-background-article-color: rgba(124, 119, 112, 0.15);
  --tbody-background-article-color: rgba(124, 119, 112, 0.05);
  --even-tr-background-article-color: rgba(124, 119, 112, 0.06);
}

body[theme='Light'] .markdown-body {
  --main-foreground-article-color: rgba(0, 0, 0, 0.9);
  --main-background-article-color: rgba(250, 248, 245, 0.7);
  --a-foregrounnd-article-color: #07c;
  --a-backgrounnd-article-color: rgb(223, 188, 146);
  --blockquote-foreground-article-color: rgba(0, 0, 0, 0.7);
  --list-foreground-article-color: rgba(0, 0, 0, 0.7);
  --pre-background-article-color: #f2ede8;
  --code-background-article-color: #f2ede8;
  --strong-foreground-article-color: #605b4b;
  --table-border-top-article-color: black;
  --odd-tr-background-article-color: rgba(0, 0, 0, 0.035);
}

body[theme='Dark'] .markdown-body {
  --main-foreground-article-color: rgba(255, 255, 255, 0.7);
  --main-background-article-color: rgba(34, 34, 34, 0.7);
  --a-foregrounnd-article-color: rgb(33, 68, 111);
  --a-backgrounnd-article-color: rgb(33, 68, 111);
  --blockquote-foreground-article-color: white;
  --pre-background-article-color: #39362f;
  --code-background-article-color: #39362f;
  --table-border-top-article-color: rgba(255, 255, 255, 0.2);
  --odd-tr-background-article-color: rgba(0, 0, 0, 0.1);
}

@media print {
  body[theme='Dark'] .markdown-body {
    --main-foreground-article-color: rgba(0, 0, 0, 0.9);
    --main-background-article-color: rgba(250, 248, 245, 0.7);
    --a-foregrounnd-article-color: #07c;
    --a-backgrounnd-article-color: rgb(223, 188, 146);
    --blockquote-foreground-article-color: rgba(0, 0, 0, 0.7);
    --list-foreground-article-color: rgba(0, 0, 0, 0.7);
    --pre-background-article-color: #f2ede8;
    --code-background-article-color: #f2ede8;
    --strong-foreground-article-color: #605b4b;
    --table-border-top-article-color: black;
    --odd-tr-background-article-color: rgba(0, 0, 0, 0.035);
  }
}

@font-face {
  font-family: 'PT Sans';
  src: url(/* reources_dir */fonts/PT_Sans-Web-Regular.ttf) format('truetype');
}

.markdown-body p {
  margin: 1em 0;
}

.markdown-body a:focus {
  outline: thin dotted;
}
.markdown-body a:active,
.markdown-body a:hover {
  outline: 0;
}

.markdown-body abbr[title] {
  border-bottom: 1px dotted;
}

.markdown-body b,
.markdown-body strong {
  font-weight: inherit;
  font-weight: bolder;
  font-weight: 600;
}

.markdown-body dfn {
  font-style: italic;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre.prettyprint,
.markdown-body samp {
  font-size: 14px;
  line-height: 1.5em;
}

.markdown-body code,
.markdown-body pre.prettyprint {
  word-wrap: break-word;
  background-color: var(--pre-background-article-color);
  border: 1px solid #ccc;
  border-radius: 3px;
}

.markdown-body code {
  padding-left: 8px;
  padding-right: 8px;
}

.markdown-body pre.prettyprint {
  white-space: pre;
  white-space: pre-wrap;
  padding: 8px 10px;
  overflow: auto;
  margin: 26px 0;
}

.markdown-body pre.prettyprint > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
}

.markdown-body pre.prettyprint code,
.markdown-body pre.prettyprint tt {
  background-color: transparent;
  border: none;
}

.markdown-body q {
  quotes: '\201C''\201D''\2018''\2019';
}

.markdown-body sub,
.markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body sup {
  top: -0.5em;
}

.markdown-body sub {
  bottom: -0.25em;
}

.markdown-body figure {
  margin: 0;
}

.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown-body img {
  max-width: 100%;
  height: auto;
}

/******************** General Typography ********************/
/* body {
  font-size: 75%;
  line-height: 1.5; // 12/18
  margin: 0;
} */

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 1.5em;
  margin-bottom: 18px;
}

.markdown-body h1 {
  font-size: 2.5em;
  top: 10px;
}

.markdown-body h2 {
  font-size: 2em;
  top: 8px;
}

.markdown-body h3 {
  font-size: 1.5em;
  top: 6px;
}

.markdown-body h4 {
  font-size: 1.2em;
  top: 4px;
}

.markdown-body h5 {
  color: #777;
  font-size: 1em;
  top: 4px;
}

.markdown-body h6 {
  font-size: 12px;
  top: 4px;
}

.markdown-body h1:first-child,
.markdown-body h2:first-child,
.markdown-body h3:first-child,
.markdown-body h4:first-child {
  margin-top: 0;
}

.markdown-body dt {
  font-weight: 600;
}

.markdown-body dd {
  font-style: italic;
}

.markdown-body small {
  font-size: 80%;
}

.markdown-body abbr,
.markdown-body code,
.markdown-body kbd,
.markdown-body samp,
.markdown-body small,
.markdown-body var {
  line-height: 1.2em;
}

.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body dialog {
  margin-top: 18px;
  margin-bottom: 18px;
}

.markdown-body li ul,
.markdown-body li ol,
.markdown-body ul ul,
.markdown-body ol ol {
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li h1,
.markdown-body li h2,
.markdown-body li h3,
.markdown-body li h4,
.markdown-body li h5,
.markdown-body li h6,
.markdown-body li p {
  top: 0;
}

.markdown-body hr {
  height: 4px;
  margin: 18px 0 14px 0;
}

/* Theme-specific styles */
.markdown-body {
  color: var(--main-foreground-article-color);
  background: var(--main-background-article-color);
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 1.6em;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-family: 'PT Sans', serif;
  line-height: 1.5em;
}

.markdown-body blockquote {
  border: 1px dotted #ccc;
  border-right: none;
  border-left: none;
  color: var(--blockquote-foreground-article-color);
  font-family: 'PT Sans', serif;
  margin-top: 25px;
}

.markdown-body blockquote p {
  margin: 20px 0 25px;
  padding: 0 15px;
}

.markdown-body ul,
.markdown-body ol {
  color: var(--list-foreground-article-color);
  list-style-position: inside;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body a {
  color: var(--a-foregrounnd-article-color);
  text-decoration: none;
}

.markdown-body a:visited {
  color: #4a6b82;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
}

.markdown-body table {
  border-collapse: collapse;
  border-top: solid 3px var(--table-border-top-article-color);
  margin-top: 18px;
  width: 100%;
}
.markdown-body table th,
.markdown-body table td {
  padding: 10px 18px 8px 0;
}
.markdown-body table thead th,
.markdown-body table thead td {
  font-family: 'PT Sans', serif;
  padding-top: 7px;
}
.markdown-body table tfoot th,
.markdown-body table tfoot td {
  padding-bottom: 8px;
}
.markdown-body table th:first-child,
.markdown-body table td:first-child {
  padding-left: 0;
}
.markdown-body table th:last-child,
.markdown-body table td:last-child {
  padding-right: 0;
}
.markdown-body table tbody tr:nth-child(odd) th,
.markdown-body table tbody tr:nth-child(odd) td {
  background: var(--odd-tr-background-article-color);
}
.markdown-body table caption {
  color: rgba(0, 0, 0, 0.7);
  top: 5px;
  margin-bottom: 18px;
}

/* .inverted {
  background: #222;
  color: rgba(255, 255, 255, 0.7);
}
.inverted a {
  color: #4eaff5;
}
.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4,
.inverted h5,
.inverted h6 {
  color: rgba(255, 255, 255, 0.9);
}
.inverted ul,
.inverted ol,
.inverted blockquote,
.inverted caption {
  color: rgba(255, 255, 255, 0.5);
}
.inverted table {
  border-top-color: rgba(255, 255, 255, 0.2);
}
.inverted tbody tr:nth-child(odd) td {
  background: rgba(0, 0, 0, 0.1);
} */

@media print {
  body {
    overflow: auto;
    background: white;
  }

  .markdown-body {
    padding: 0;
    background: white;
    font-size: 12.75px;
    position: relative;
    text-indent: 0;
  }

  .markdown-body a {
    text-decoration: underline;
  }

  .markdown-body img,
  .markdown-body pre,
  .markdown-body blockquote,
  .markdown-body table,
  .markdown-body figure,
  .markdown-body p {
    page-break-inside: avoid;
  }

  .markdown-body hr {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
