.markdown-body.resume-bountiful {
  --odd-tr-background-article-color: transparent;
  --kbd-foreground-article-color: #444d56;
  --kbd-background-article-color: #fafbfc;
  --kbd-border-article-color: #d1d5da;
  --kbd-box-shadow-article-color: #d1d5da;
  --a-hover-foregrounnd-article-color: #92afff;
  --table-background-article-color: rgba(124, 119, 112, 0.15);
  --tbody-background-article-color: rgba(124, 119, 112, 0.05);
  --even-tr-background-article-color: rgba(124, 119, 112, 0.06);
}

body[theme="Light"] .markdown-body.resume-bountiful {
  --main-foreground-article-color: rgba(0, 0, 0, 0.9);
  --main-background-article-color: rgba(250, 248, 245, 0.7);
  --a-foregrounnd-article-color: #07c;
  --a-backgrounnd-article-color: rgb(223, 188, 146);
  --blockquote-foreground-article-color: rgba(0, 0, 0, 0.7);
  --list-foreground-article-color: rgba(0, 0, 0, 0.7);
  --pre-background-article-color: #f2ede8;
  --code-background-article-color: #f2ede8;
  --strong-foreground-article-color: #605b4b;
  --table-border-top-article-color: black;
  --odd-tr-background-article-color: rgba(0, 0, 0, 0.035);
}

body[theme="Dark"] .markdown-body.resume-bountiful {
  --main-foreground-article-color: rgba(255, 255, 255, 0.7);
  --main-background-article-color: rgba(34, 34, 34, 0.7);
  --a-foregrounnd-article-color: rgb(33, 68, 111);
  --a-backgrounnd-article-color: rgb(33, 68, 111);
  --blockquote-foreground-article-color: white;
  --pre-background-article-color: #39362f;
  --code-background-article-color: #39362f;
  --table-border-top-article-color: rgba(255, 255, 255, 0.2);
  --odd-tr-background-article-color: rgba(0, 0, 0, 0.1);
}

@media print {
  body[theme="Dark"] .markdown-body.resume-bountiful {
    --main-foreground-article-color: rgba(0, 0, 0, 0.9);
    --main-background-article-color: rgba(250, 248, 245, 0.7);
    --a-foregrounnd-article-color: #07c;
    --a-backgrounnd-article-color: rgb(223, 188, 146);
    --blockquote-foreground-article-color: rgba(0, 0, 0, 0.7);
    --list-foreground-article-color: rgba(0, 0, 0, 0.7);
    --pre-background-article-color: #f2ede8;
    --code-background-article-color: #f2ede8;
    --strong-foreground-article-color: #605b4b;
    --table-border-top-article-color: black;
    --odd-tr-background-article-color: rgba(0, 0, 0, 0.035);
  }
}

.markdown-body.resume-bountiful p {
  margin: 1em 0;
}

.markdown-body.resume-bountiful a:focus {
  outline: thin dotted;
}

.markdown-body.resume-bountiful a:active,
.markdown-body.resume-bountiful a:hover {
  outline: 0;
}

.markdown-body.resume-bountiful abbr[title] {
  border-bottom: 1px dotted;
}

.markdown-body.resume-bountiful b,
.markdown-body.resume-bountiful strong {
  font-weight: inherit;
  font-weight: bolder;
  font-weight: 600;
}

.markdown-body.resume-bountiful dfn {
  font-style: italic;
}

.markdown-body.resume-bountiful code,
.markdown-body.resume-bountiful kbd,
.markdown-body.resume-bountiful pre.prettyprinted,
.markdown-body.resume-bountiful samp {
  font-size: 14px;
  line-height: 1.5em;
}

.markdown-body.resume-bountiful code,
.markdown-body.resume-bountiful pre.prettyprinted {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: var(--pre-background-article-color);
  word-wrap: break-word;
}

.markdown-body.resume-bountiful code {
  padding-right: 8px;
  padding-left: 8px;
}

.markdown-body.resume-bountiful pre.prettyprinted {
  margin: 26px 0;
  padding: 8px 10px;
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
}

.markdown-body.resume-bountiful q {
  quotes: "\201C""\201D""\2018""\2019";
}

.markdown-body.resume-bountiful sub,
.markdown-body.resume-bountiful sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

.markdown-body.resume-bountiful sup {
  top: -0.5em;
}

.markdown-body.resume-bountiful sub {
  bottom: -0.25em;
}

.markdown-body.resume-bountiful figure {
  margin: 0;
}

.markdown-body.resume-bountiful table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body.resume-bountiful img {
  max-width: 100%;
  height: auto;
}

/******************** General Typography ********************/

/* body {
  font-size: 75%;
  line-height: 1.5; // 12/18
  margin: 0;
} */

.markdown-body.resume-bountiful h1,
.markdown-body.resume-bountiful h2,
.markdown-body.resume-bountiful h3,
.markdown-body.resume-bountiful h4,
.markdown-body.resume-bountiful h5,
.markdown-body.resume-bountiful h6 {
  margin-top: 1.5em;
  margin-bottom: 18px;
}

.markdown-body.resume-bountiful h1 {
  top: 10px;
  font-size: 2.5em;
}

.markdown-body.resume-bountiful h2 {
  top: 8px;
  font-size: 2em;
}

.markdown-body.resume-bountiful h3 {
  top: 6px;
  font-size: 1.5em;
}

.markdown-body.resume-bountiful h4 {
  top: 4px;
  font-size: 1.2em;
}

.markdown-body.resume-bountiful h5 {
  top: 4px;
  color: #777;
  font-size: 1em;
}

.markdown-body.resume-bountiful h6 {
  top: 4px;
  font-size: 12px;
}

.markdown-body.resume-bountiful h1:first-child,
.markdown-body.resume-bountiful h2:first-child,
.markdown-body.resume-bountiful h3:first-child,
.markdown-body.resume-bountiful h4:first-child {
  margin-top: 0;
}

.markdown-body.resume-bountiful dt {
  font-weight: 600;
}

.markdown-body.resume-bountiful dd {
  font-style: italic;
}

.markdown-body.resume-bountiful small {
  font-size: 80%;
}

.markdown-body.resume-bountiful abbr,
.markdown-body.resume-bountiful code,
.markdown-body.resume-bountiful kbd,
.markdown-body.resume-bountiful samp,
.markdown-body.resume-bountiful small,
.markdown-body.resume-bountiful var {
  line-height: 1.2em;
}

.markdown-body.resume-bountiful ul,
.markdown-body.resume-bountiful ol,
.markdown-body.resume-bountiful dl,
.markdown-body.resume-bountiful dialog {
  margin-top: 18px;
  margin-bottom: 18px;
}

.markdown-body.resume-bountiful li ul,
.markdown-body.resume-bountiful li ol,
.markdown-body.resume-bountiful ul ul,
.markdown-body.resume-bountiful ol ol {
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body.resume-bountiful li h1,
.markdown-body.resume-bountiful li h2,
.markdown-body.resume-bountiful li h3,
.markdown-body.resume-bountiful li h4,
.markdown-body.resume-bountiful li h5,
.markdown-body.resume-bountiful li h6,
.markdown-body.resume-bountiful li p {
  top: 0;
}

.markdown-body.resume-bountiful hr {
  height: 4px;
  margin: 18px 0 14px 0;
}

/* Theme-specific styles */

@font-face {
  font-family: PatrickHand;
  src: url(../../fonts/PatrickHand-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ZCOOL QingKe HuangYou";
  src:
    url(../../fonts/ZCOOLQingKeHuangYou-Regular.ttf)
    format("truetype");
}

.markdown-body.resume-bountiful {
  background: var(--main-background-article-color);
  color: var(--main-foreground-article-color);
  font-family: PatrickHand, "ZCOOL QingKe HuangYou", cursive, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6em;
}

.markdown-body.resume-bountiful h1,
.markdown-body.resume-bountiful h2,
.markdown-body.resume-bountiful h3,
.markdown-body.resume-bountiful h4,
.markdown-body.resume-bountiful h5,
.markdown-body.resume-bountiful h6 {
  line-height: 1.5em;
}

.markdown-body.resume-bountiful blockquote {
  margin-top: 25px;
  border: 1px dotted #ccc;
  border-right: none;
  border-left: none;
  color: var(--blockquote-foreground-article-color);
}

.markdown-body.resume-bountiful blockquote p {
  margin: 20px 0 25px;
  padding: 0 15px;
}

.markdown-body.resume-bountiful ul,
.markdown-body.resume-bountiful ol {
  list-style-position: inside;
  color: var(--list-foreground-article-color);
}

.markdown-body.resume-bountiful ol {
  list-style-type: decimal;
}

.markdown-body.resume-bountiful a {
  color: var(--a-foregrounnd-article-color);
  text-decoration: none;
}

.markdown-body.resume-bountiful a:visited {
  color: #4a6b82;
}

.markdown-body.resume-bountiful a:hover {
  text-decoration: underline;
}

.markdown-body.resume-bountiful hr {
  height: 1px;
  border: 0;
  background-image:
    -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    );
}

.markdown-body.resume-bountiful table {
  width: 100%;
  margin-top: 18px;
  border-collapse: collapse;
  border-top: solid 3px var(--table-border-top-article-color);
}

.markdown-body.resume-bountiful table th,
.markdown-body.resume-bountiful table td {
  padding: 10px 18px 8px 0;
}

.markdown-body.resume-bountiful table thead th,
.markdown-body.resume-bountiful table thead td {
  padding-top: 7px;
}

.markdown-body.resume-bountiful table tfoot th,
.markdown-body.resume-bountiful table tfoot td {
  padding-bottom: 8px;
}

.markdown-body.resume-bountiful table th:first-child,
.markdown-body.resume-bountiful table td:first-child {
  padding-left: 0;
}

.markdown-body.resume-bountiful table th:last-child,
.markdown-body.resume-bountiful table td:last-child {
  padding-right: 0;
}

.markdown-body.resume-bountiful table tbody tr:nth-child(odd) th,
.markdown-body.resume-bountiful table tbody tr:nth-child(odd) td {
  background: var(--odd-tr-background-article-color);
}

.markdown-body.resume-bountiful table caption {
  top: 5px;
  margin-bottom: 18px;
  color: rgba(0, 0, 0, 0.7);
}

/* .inverted {
  background: #222;
  color: rgba(255, 255, 255, 0.7);
}
.inverted a {
  color: #4eaff5;
}
.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4,
.inverted h5,
.inverted h6 {
  color: rgba(255, 255, 255, 0.9);
}
.inverted ul,
.inverted ol,
.inverted blockquote,
.inverted caption {
  color: rgba(255, 255, 255, 0.5);
}
.inverted table {
  border-top-color: rgba(255, 255, 255, 0.2);
}
.inverted tbody tr:nth-child(odd) td {
  background: rgba(0, 0, 0, 0.1);
} */

@media print {
  body {
    overflow: auto;
    background: white;
  }

  .markdown-body.resume-bountiful {
    position: relative;
    background: white;
    font-size: 12.75px;
    text-indent: 0;
  }

  .markdown-body.resume-bountiful a {
    text-decoration: underline;
  }

  .markdown-body.resume-bountiful img,
  .markdown-body.resume-bountiful pre,
  .markdown-body.resume-bountiful blockquote,
  /* .markdown-body.resume-bountiful table, */
  .markdown-body.resume-bountiful figure,
  .markdown-body.resume-bountiful p {
    page-break-inside: avoid;
  }

  .markdown-body.resume-bountiful hr {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
