.taskbar-icon {
  width: 3em;
  height: 2em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    background-color: #b1ecee;
  }

  &:active {
    background-color: #5debf0;
  }
}
