/**
  * Requirements:
  *   vars:
  *     --a-backgrounnd-article-color
  *     --a-foregrounnd-article-color
  *     --a-hover-foregrounnd-article-color
  */

/* 以下：统一风格 */

/* common/normalize.css */

/* base_stylesheet */

/* common/blockquote.css */

/* common/code.css */

/* common/figure.css */

/* common/table.css */

/* common/date-tag.css */

/* common/katex.min.css */

/* common/comments.css */
.markdown-body div.comments a[href^="mailto:"] {
  transition: background-color 300ms, background-position 100ms, color 1s;
  background:
    linear-gradient(
      to bottom,
      whitesmoke,
      whitesmoke 50%,
      var(--a-backgrounnd-article-color)
    );
  background-color: var(--a-backgrounnd-article-color);
  background-position: 0 100%;
  background-size: 100% 200%;
  color: var(--a-foregrounnd-article-color);
}

.markdown-body div.comments a[href^="mailto:"]:hover {
  background-color: whitesmoke;
  background-position: 0 0;
  color: var(--a-hover-foregrounnd-article-color);
}

/* 以上：统一风格 */

/* 以下：.markdown-body 统一设置 */
.markdown-body {
  box-sizing: border-box;
  width: calc(100% - 10pt);
  min-width: 200px;
  max-width: 1100px;
  margin: 0.3rem auto;
  border: solid 1px gray;
  border-radius: 6px;
  box-shadow: 0 0 5px 0 gray;
  font-weight: normal;

  /* body_padding_pc */
}

@media screen and (max-width: 1080px) {
  .markdown-body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0.15rem auto;

    /* body_padding_mobile */
  }
}

@media print {
  .markdown-body {
    width: 100%;
    max-width: unset;
    margin: 0;
    border: none;
    box-shadow: none;
  }
}

/* 以上：.markdown-body 统一设置 */
