.title-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0.5rem;
  border-bottom: solid 0.01rem #106090;
  background-color: #2175bc;
  font-size: 0.2rem;
  line-height: 0.5rem;

  nav {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    .main {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: row;
      flex-wrap: nowrap;

      .mobile {
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;

        li {
          width: 0.8rem;
          height: 0.8rem;

          &.slot {
            width: 5em;
            transform: translateX(-100%);
            transition: background-color 1s, transform 200ms;
            border-top: solid 0.01rem #106090;
            background-color: #f1f1f1;

            &.show {
              transform: translateX(0);
              background-color: #2175bc;
            }

            a {
              line-height: 0.8rem;
            }
          }
        }
      }
    }

    a {
      display: block;
      padding: 0 0.3rem;
      color: whitesmoke;
      line-height: 0.5rem;
      text-decoration: none;
      text-shadow: 0.03rem 0.03rem 0.03rem black;

      &.ctx {
        background-color: white;
        color: darkmagenta;
      }

      &:hover:not(.disabled) {
        background-color: whitesmoke;
        color: darkmagenta;
      }
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0.5rem;
      height: 0.5rem;
      padding: 0.1rem;
      background-color: transparent;

      &.flag {
        width: 1rem;
        transform: translateY(50%) scale3d(2, 2, 1);
        pointer-events: none;

        img {
          width: 100%;
        }
      }

      svg {
        width: 100%;
        height: 100%;

        .icon-color {
          fill: #fff;
        }
      }

      &.disabled svg .icon-color {
        fill: #a0a0a0;
      }

      @media (hover: hover) {
        &:hover:not(.disabled) {
          background-color: whitesmoke;
          color: darkmagenta;
        }

        &:hover svg .icon-color {
          fill: darkmagenta;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .title-bar {
    height: 0.8rem;
    font-size: 0.36rem;
    line-height: 0.8rem;

    nav {
      .main {
        .pc {
          display: none;
        }

        .mobile {
          display: block;

          .icon {
            width: 0.8rem;
            height: 0.8rem;
            padding: 0.2rem;
          }
        }
      }
    }
  }
}
