.markdown-body h6.date-tag {
  text-align: right;
}

.markdown-body h6.date-tag code {
  position: relative;
  padding: 0 0.5em;
  border: solid 1px #a7a099;
  border-radius: 3px;
  background: var(--code-background-article-color);
  font-family: "Cascadia Code PL", "等距更纱黑体", monospace;
  font-size: 13px;
  font-weight: normal;
  text-shadow: none;
  cursor: default;
}

.markdown-body h6.date-tag code::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0.3em;
  transition: height 100ms ease-in-out;
  border-radius: 3px;
  background-color: rgba(61, 43, 226, 0.671);
  pointer-events: none;
}

.markdown-body h6.date-tag code:hover::after {
  height: 100%;
}

@media print {
  .markdown-body h6.date-tag code::after {
    height: 0;
  }
}
