#main {
  padding-top: 0.5rem;

  h1.failure {
    margin-top: calc(50vh - 0.5em);
    text-align: center;
  }

  .wrapper {
    min-width: 200px;
    max-width: 980px;
    width: 100%;
    padding: 0.45rem;
    margin: 0.1rem auto;
    border-radius: 6px;
    border: solid 1px gray;
    box-shadow: 0 0 5px 0 gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
